* {
  margin: 0%;
  text-decoration: none;
  font-family: "Macondo", cursive;
}

header {
  background-color: rgb(212, 160, 0);
  width: 100vw;
  height: 20vh;
  display: flex;
  justify-content: center;
}

img {
  height: 100%;
}

@keyframes fondocambiante {
  from {
    background-color: #2cbd50;
  }

  to {
    background-color: rgb(251, 254, 93);
  }
}

main {
  background-image: linear-gradient(rgb(24, 91, 166),rgb(212,160,0));
  padding: 5%;
}

.principalContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 3%;
}

.carta {
  display: flex;
  flex-direction: column;
  width: 15%;
  align-items: center;
  border: solid black 2px;
  margin-bottom: 1%;
  box-sizing: border-box;
  border-radius: 5%;
  padding: 1%;
  background-color: #d48e8e;
  box-shadow: 0px 10px 13px -7px #000000, 7px 9px 16px 2px rgba(0, 0, 0, 0.64);
  animation-name: fondocambiante;
  animation-duration: 5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.carta:hover {
  filter: opacity(0.5);
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.superior {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.posicion {
  padding: 1%;
  border-radius: 50%;
  border: black solid 1px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
  background-color: rgb(232,83,130);
  width: 25%;
  text-transform: capitalize;
  font-size: 1em;
  text-align: center;
}

.experiencia {
  text-transform: capitalize;
  font-size: 0.7em;
  text-align: center;
}

.expe_text {
  font-size: 0.7em;
}

h3 {
  text-transform: capitalize;
  font-size: 1em;
}

.foto {
  width: 93%;

  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.tittle_card {
  text-transform: uppercase;
  text-align: center;
  font-size: 1em;
  font-weight: bold;
  background-color: #c24646;
  width: 100%;
  color: whitesmoke;
}

footer {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    text-align: center;   
    color: whitesmoke;
}

@media screen and (max-width: 778px) {
  .carta {
    width: 20%;
  }
}

@media screen and (max-width: 425px) {
  .carta {
    width: 40%;
  }
}
